body{
            background-color:#FFFFFF;
        }
        #FT1{
        font-family: "Andale Mono", "Monotype.com", monospace;
        font-size: 12pt;
        font-weight: bold;
        }
#FT2{
font-family:;
font-size:18px;
font-style:italic;
}
#FT3{
font-family:monospace;
font-size:9pt;
font-style:oblique;
align-content:bottom;
}

#HDR{
            font-family:arial;
            font-size:30px;
            text-align:left;
}
#HLNK{
            text-align:left;
            font-family:arial;
}
